.smartphones-details {
    font-family: "Manrope", sans-serif;
    padding-top: 100px;

    .container {
        display: flex;

        .image-details {
            width: 60%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }
        .text-details {
            width: 40%;

            .item-details{
                margin:10px;
                font-size: 16px;
            }

            .item-details-title{
                font-size: 24px;
                font-weight: 700;
                text-align: center;
            }

        }
    }
}
